 .nav_1{
     display: none;
}
 ul,li{
     list-style-type: none;
}
 .nav_m {
     width: 100%;
     background-color: white;
     margin-top: 20.2vh;
     overflow: inherit;
     color: #3e93cc;
}
 .as_2{
    /*margin-top: -111px;
    */
     margin-right: 74px;
}
 .as{
     margin-top: -121px;
     margin-right: 115px;
}
 .section_2{
     display: none;
}
 #section_2{
     display: none;
}
 .nav_search input{
     display: none;
     width: 87%;
     border-radius: 10px;
     border: solid 1px #3e93cc;
     font-size: 3vmin;
     margin-top: 2vmin;
}
 .nav_contact{
     display: none;
     margin-bottom: 0vmin !important;
     margin-left: -5vmin;
    /* margin-bottom: -6vmin !important;
     */
     font-size: 2.95vmin;
     padding-top: 0.5vh;
     padding-left: 1vw;
     padding-right: 1vw;
     background-color: #d8315c;
    /* float: right;
     */
}
 #navbar {
     -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75);
     box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75);
     top: -200px;
     width: 100%;
     opacity: 0;
     transition: all 700ms;
     position: fixed;
     z-index: 4;
}
 #section_2{
     display: none;
}
 .nav_ul a{
     color: #3e93cc;
     text-decoration: none;
}
 .nav_ul a:hover{
     color: #3e93cc;
     text-decoration: none;
}
 .nav_ul a:activated{
     color: #3e93cc;
     text-decoration: none;
}


