@import "responsiv-991.css";

@media (min-width: 992px){
     .a_about-img {
         background: url(./img/old/Untitled-2.png)no-repeat;
         width: 100%;
         height: 600px;
         background-size: 100%;
         margin-top: 42px;
         /*overflow: hidden;         */
         /*position: relative;         */
     }
     .a_res {
         margin: auto;
         max-width: 1200px;
     }
     .about_res {
         margin: auto;
         max-width: 1200px;
     }
     .a_about_text {
         background: #3e93cc;
         width: 450px;
         height: 600px;
         /*position: absolute;*/
         /*top: 136px;*/
         /*margin-left: 80px;         */
     }
     .a_about_text p {
         color: white;
         /*font-size: 18px;*/
         /*line-height: 32px;*/
         margin-left: 30px;
         margin-right: 30px;
         padding: 15px 0px;
     }
     .a_about_text .all {
         /*font-size: 31px;*/
         /*margin-top: 113px;*/
         text-transform: uppercase;
     }
     .about_tex {
         padding: 100px 0px;
     }
     .about_img {
         width: 50%;
         float: left;
         overflow: hidden;
     }
     .about_img img {
         width: 100%;
         height: 650px;
         overflow: hidden;
         background-size: 100%;
     }
     .about_text {
         width: 50%;
         float: right;
     }
     .about_text p {
         width: 100%;
         height: 650px;
         margin-top: 12px;
         /*line-height: 27px;*/
         color: #656e74;
         /*font-size: 17px;*/
     }
     .about_img_text {
        margin: auto;
         height: max-content;
         overflow: hidden;
     }
     .about_text .all {
         /*font-size: 29px;*/
         margin-top: 65px;
         color: #3e93cc;
     }
     .about_text_mobile {
         display: none;
     }
     .about_block .all {
         /*font-size: 27px;*/
         text-transform: uppercase;
         color: #3e93cc;
         border: none;
         margin-left: 80px;;
     }
     .about_block p {
         color: #656e74;
         margin-left: 50px;
         /*margin-right: 70px;*/
         border-bottom: #3e93cc 13px solid;
         border-left: #3e93cc 30px solid;
         padding: 6px;
         /*line-height: 23px;*/
         padding-left: 25px;
         /*font-size: 17px;*/
         padding-bottom: 23px;
     }
     .about_block {
         float: left;
         height: max-content;
         width: 350px;
         margin-bottom: 100px;
     }
     .about_blocks {

     }

     .contact_header_img {
         background: url(./img/background_con.jpg)no-repeat center;
         background-size: 100%;
         height: 600px;
         width: 100%;
     }
     .contact_res {
         max-width: 1200px;
         margin: auto;
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
     [class*="col-"] {
         float: left;
     }
     .col-1 {
         width: 8.33%;
     }
     .col-2 {
         width: 16.66%;
     }
     .col-3 {
         width: 25%;
     }
     .col-4 {
         width: 33.33%;
     }
     .col-5 {
         width: 41.66%;
     }
     .col-6 {
         width: 50%;
     }
     .col-7 {
         width: 58.33%;
     }
     .col-8 {
         width: 66.66%;
     }
     .col-9 {
         width: 75%;
     }
     .col-10 {
         width: 83.33%;
     }
     .col-11 {
         width: 91.66%;
     }
     .col-12 {
         width: 100%;
     }
     .contact_left_text {
         background: white;
         height: 450px;
     }
     .contact_right_text {
         background: #3e93cc;
         height: 450px;
     }
     .contact_left_text p {
         color: #656e74;
         /*font-size: 19px;*/
         /*line-height: 35px;*/
         margin-left: 75px;
         margin-right: 75px;
     }
     .contact_left_text .all {
         /*font-size: 32px;*/
         padding: 21px 0px;
         margin-top: 15px;
     }
     .contact_right_text .all {
         color: white;
         /*font-size: 32px;*/
         margin-top: 0px;
         padding: 42px 0px;
     }
     .contact_right_text p {
         color: white;
         /*line-height: 35px;*/
         /*font-size: 19px;*/
         margin-left: 50px;
         margin-right: 100px;
         margin-top: -30px;
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
     [class*="col-"] {
         float: left;
     }
     .col-1 {
         width: 8.33%;
     }
     .col-2 {
         width: 16.66%;
     }
     .col-3 {
         width: 25%;
     }
     .col-4 {
         width: 33.33%;
     }
     .col-5 {
         width: 41.66%;
     }
     .col-6 {
         width: 50%;
     }
     .col-7 {
         width: 58.33%;
     }
     .col-8 {
         width: 66.66%;
     }
     .col-9 {
         width: 75%;
     }
     .col-10 {
         width: 83.33%;
     }
     .col-11 {
         width: 91.66%;
     }
     .col-12 {
         width: 100%;
     }
     .contact_us h3 {
         text-align: center;
         /*font-size: 36px;*/
         color: black;
         margin-top: 35px;
     }
     .contact_us .ff {
         text-align: center;
         /*font-size: 21px;*/
         color: #656e74;
         margin-top: 17px;
     }
     .contact_us {
         height: 600px;
     }
     .contact_register_web .us {
         border: none;
         width: 80%;
         padding: 21px;
         border-bottom: #656e74 1px solid;
         padding-left: 21px;
         margin-left: 35px;
         padding-left: 1px;
         color: #656e74;
         /*font-size: 17px;*/
     }
     .contact_register_web {
         margin-left: 85px;
         /* margin-right: 75px;         */
         padding: 21px 45px;
     }
     .contact_register_web .contact_submit {
         background: #3e93cc;
         height: 40px;
         border: none;
         width: 130px;
         color: white;
         /*font-size: 14px;*/
         border-radius: 6px;
         margin-left: 34px;
         margin-top: 30px;
         cursor: pointer;
     }
     .contact_icon i {
         /*font-size: 41px;*/
         margin-left: 280px;
         color: #3e93cc;
     }
     .contact_us_text_web p {
         text-align: center;
         /*line-height: 36px;*/
         margin-top: 6px;
         /*font-size: 17px;*/
     }
     .contact_us_text_web {
         margin-top: 30px;
     }
     .contact_us_mobile {
         display: none;
     }
     .contact_us_text_mobile {
         display: none;
     }
     .contact_register_mobile {
         display: none;
     }
 














     .product {
         width: 100%;
         margin-top: 30px;
     }
     .product_res {
         max-width: 1200px;
         margin: auto;
     }
     .product h1 {
         text-align: center;
         text-transform: uppercase;
         /*font-size: 35px;*/
         margin-top: 50px;
     }
     .product .center_text {
         margin-top: 40px;
         color: #656e74;
         /*font-size: 17px;*/
         padding-left: 40px;
         padding-right: 40px;
     }
     .product h4 {
         text-align: center;
         text-transform: uppercase;
         /*font-size: 32px;*/
         margin-top: 100px;
         color: #3e93cc;
     }
     .product_img_t {
         border: #3e93cc 2px solid;
         width: auto;
         height: auto;
         margin-top: 84px;
         margin-left: 30px;
         margin-right: 30px;
         padding: 20px;
     }
     .product_text h3 {
         color: #3e93cc;
         text-align: center;
         /*font-size: 28px;*/
     }
     .f_clear {
         margin-top: 100px;
     }
     .product_text p {
         width: 90%;
         text-align: center;
         /*line-height: 30px;*/
         /* margin-top: 25px; */
         padding: 25px 0px;
         /*font-size: 17px;*/
         color: #656e74;
         margin-left: 30px;
         /* margin-right: 33px; */
     }
     .product_text {
         margin-left: -50px;
         margin-top: 100px;
     }
     .product_input input {
         border: none;
         background: #3e93cc;
         color: white;
         border-radius: 6px;
         height: 50px;
         width: 160px;
         /*font-size: 18px;*/
         margin-left: 60px;
         cursor: pointer;
         margin-top: 15px;
     }
     .product_input {
         margin-top: 80px;
     }
     .product_text_img > img {
         height: 200px;
         margin-left: 50px;
         margin-top: 50px;
     }
     .product_block {
         border: #3e93cc 1px solid;
         height: 60px;
         width: 60px;
         float: left;
         margin-left: 15px;
     }
     .product_blocks {
         margin-top: 50px;
         margin-left: 30px;
     }
     .product_k p {
         border: #3e93cc 2px solid;
         height: 34px;
         float: left;
         padding: 4px 40px;
         text-align: center;
         /*font-size: 19px;*/
         margin-left: -2px;
     }
     .blue {
         background: #3e93cc;
         color: white;
     }
     .product_k {
         margin-right: 30px;
         margin-top: 40px;
         float: right;
     }
     .product_table {
         padding: 20px 30px;
         margin-top: 150px;
         height: 500px;
     }
     .product_table table,
     th,
     td {
         border: 1px solid #999;
         border-collapse: collapse;
         /*font-size: 18px;*/
     }
     .product_table td {
         /* padding: 27px 0px;          */
         text-align: center;
         width: 1500px;
         /*font-size: 18px;*/
         height: 100px;
     }
     .color {
         background: #ececec;
     }
     .all_color {
         background: #8b929a;
         height: 35px;
         color: white;
     }
     .table_blue {
         background: #3e93cc;
         color: white;
     }
     .product_img {
         background: url(./img/background_prod.png) no-repeat center;
         height: 600px;
         width: 100%;
         background-size: 100%;
     }
 
 












     .services {
         height: auto;
         max-width: 1200px;
         background-size: 100%;
         overflow: hidden;
         margin: auto;
     }
     .services h2 {
         text-align: center;
         padding: 35px;
         font-weight: bold;
         /*font-size: 32px;*/
         margin-top: 25px;
     }  
    .services_radius {
        float: left;
        width: 20%;
        /* margin-left: 50px; */
        margin-top: 35px;
        /* margin: auto; */
        /* padding: 0px 30px; */
    }


     .left1 img {
         margin-left: 15px;
         margin-top: 21px;
     }
     .left3 img {
         margin-left: 23px;
         margin-top: 20px
     }
     .left2 img {
         margin-left: 22px;
         margin-top: 17px;
     }
     .left4 img {
         margin-left: 21px;
         margin-top: 21px;
     }
     .left5 img {
         margin-left: 19px;
         margin-top: 23px;
     }
     .services_text {
        /* width: 200px; */
        padding: 0px 15%;
         margin-top: 13px;
    }
     .services_text h3 {
         text-align: center;
         /*font-size: 21px;*/
         /*margin-top: 20px;*/
         color: #5092e5;
     }
     .services_text p {
         text-align: center;
         color: #656e74;
         margin-top: 6px;
         /*line-height: 24px;*/
         /*font-size: 16px;*/
             min-height: 150px;
     }
    .services_text input {
         border: none;
         background: #3e93cc;
         color: white;
         border-radius: 6px;
        /* height: 36px;
         width: 113px;*/
         padding: 5px;
         /*font-size: 16px;*/
         margin-left: 50%;
         transform: translateX(-50%);
         cursor: pointer;
         margin-top: 20px;
    }
          .services_icon img {
         height: 60%;
         margin-left: 50%;
         transform: translateX(-50%) translateY(-50%);
         margin-top: 50% /* width: 80px; */ /* padding: 15%; */;
    }
     .home_img_m {
         display: none;
     }
     .home_res {
         margin: auto;
         max-width: 1200px;
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
/*     [class*="col-"] {
         float: left;
         padding: 15px;         
         border: 1px solid red;         
     }*/

     /*
     .col-1 {
         width: 8.33%;
     }
     .col-2 {
         width: 16.66%;
     }
     .col-3 {
         width: 25%;
     }
     .col-4 {
         width: 33.33%;
     }
     .col-5 {
         width: 41.66%;
     }
     .col-6 {
         width: 50%;
     }
     .col-7 {
         width: 58.33%;
     }
     .col-8 {
         width: 66.66%;
     }
     .col-9 {
         width: 75%;
     }
     .col-10 {
         width: 83.33%;
     }
     .col-11 {
         width: 91.66%;
     }
     .col-12 {
         width: 100%;
     }*/
     .gallery {
         margin-top: 100px;
     }
     .gallery_img img {
         width: 100%;
         height: 400px;
         cursor: pointer;
         object-fit: cover;
         /* -moz-transition: all 0.3s;          -webkit-transition: all 0.3s;          transition: all 0.3s;         */
     }
     .gallery_img img:hover {
         /* -moz-transform: scale(1.1);          -webkit-transform: scale(1.1);          transform: scale(1.2);         */
     }
     .gallery_text_web .all {
         /*font-size: 29px;*/
         margin-left: 46px;
         /*line-height: 40px;*/
         color: #3e93cc;
         /*margin-top: 65px;         */
     }
     .gallery_text_web p {
         /*font-size: 20px;*/
         /*line-height: 32px;*/
         margin-left: 45px;
         color: #656e74;
         margin-right: 30px;
         margin-top: 13px;
     }
     .gallery_text_web .ll {
         margin-left: 50px;
         /*line-height: 32px;*/
         margin-right: 55px;
         /*font-size: 20px;*/
     }
     .box_web {
         background: #3e93cc;
         width: 100%;
         height: 400px;
         /*box-shadow: 5px;         */
         padding: 15px 0px;
         /*margin-top: -4px;         */
         color: white;
     }
     .box_web .all {
         /* padding: 4px;          */
         /*font-size: 25px;*/
         /*line-height: 36px;*/
         text-transform: uppercase;
         margin-top: 23px;
     }
     .box_web p {
         /*font-size: 21px;*/
         margin-left: 35px;
         margin-right: 120px;
         /*line-height: 35px;*/
         margin-top: 18px;
     }
     .box_web_ {
         background: #3e93cc;
         width: 100%;
         height: 350px;
         /*box-shadow: 5px;         */
         padding: 15px 0px;
         /*margin-top: -4px;         */
         color: white;
     }
     .box_web_ .all {
         /*font-size: 25px;*/
         /*line-height: 36px;*/
         text-transform: uppercase;
         margin-top: 20px;
     }
     .box_web_ p {
         color: white;
         /*font-size: 20px;*/
         /*line-height: 32px;*/
         padding-left: 35px;
         margin-top: 13px;
     }
     .text {
         background: #3e93cc;
         width: 100%;
         height: 450px;
     }
     .text h1 {
         /*font-size: 40px;*/
         color: white;
         margin-left: 100px;
         padding: 100px 0px;
     }
     .text p {
         color: white;
         margin-left: 100px;
         margin-right: 200px;
         /*font-size: 20px;*/
         /*line-height: 41px;*/
         margin-top: -85px;
     }
     .text a {
         margin-left: 100px;
         /*font-size: 21px;*/
         color: white;
         margin-top: 0px;
     }
     .gallery_text_web {
         margin-top: 35px;
     }
     .gallery_text_mobile {
         display: none;
     }
     .box_mobile {
         display: none;
     }
     .box_mobile_ {
         display: none;
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
     [class*="col-"] {
         float: left;
         /*padding: 15px;         */
         /*border: 1px solid red;         */
     }
     .col-1 {
         width: 8.33%;
     }
     .col-2 {
         width: 16.66%;
     }
     .col-3 {
         width: 25%;
     }
     .col-4 {
         width: 33.33%;
     }
     .col-5 {
         width: 41.66%;
     }
     .col-6 {
         width: 50%;
     }
     .col-7 {
         width: 58.33%;
     }
     .col-8 {
         width: 66.66%;
     }
     .col-9 {
         width: 75%;
     }
     .col-10 {
         width: 83.33%;
     }
     .col-11 {
         width: 91.66%;
     }
     .col-12 {
         width: 100%;
     }
     .pacgakes {
         padding: 80px 0px;
     }
     .pacgakes_block {
/*         border: #656e74 1px solid;
         height: 400px;*/
         /*width: 360px;*/
         width: 85%;
         box-shadow: #f7f7f7 0px 25px;
         /*margin-left: 25px;*/
         margin: auto;
     }
     .pacgakes_block h3 {
         background: #d6315c;
         padding: 20px;
         text-transform: uppercase;
         color: white;
     }
     .pacgakes_block p, .pacgakes_block h3 {
         text-align: center;
     }
     .xh {
        color: #656e74; 
         border: #656e74 1px solid;
         border-top: none;
         height: auto !important;
         padding: 20px !important;
     }
     .pacgakes_m {
         display: none;
     }
     .services_icon {
         height: 130px;
         width: 130px;
         border-radius: 100%;
         border: #3e93cc 3px solid;
         margin: auto;
         margin-top: 25px;
         /*         -moz-transition: all 0.3s;                  -webkit-transition: all 0.3s;                  transition: all 0.3s;                  cursor: pointer;*/
     }
     .services_icon:hover {
         /*         -moz-transform: scale(1.1);                  -webkit-transform: scale(1.1);                  transform: scale(1.2);*/
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
     [class*="col-"] {
         float: left;
         /*padding: 15px;         */
         /*border: 1px solid red;         */
     }
     .col-1 {
         width: 8.33%;
     }
     .col-2 {
         width: 16.66%;
     }
     .col-3 {
         width: 25%;
     }
     .col-4 {
         width: 33.33%;
     }
     .col-5 {
         width: 41.66%;
     }
     .col-6 {
         width: 50%;
     }
     .col-7 {
         width: 58.33%;
     }
     .col-8 {
         width: 66.66%;
     }
     .col-9 {
         width: 75%;
     }
     .col-10 {
         width: 83.33%;
     }
     .col-11 {
         width: 91.66%;
     }
     .col-12 {
         width: 100%;
     }

     .testimonial_radius {
         border-radius: 100%;
         height: 150px;
         width: 150px;
         background: black;
         margin: auto;
         cursor: pointer;
         margin-top: 25px;
     }
     .testimonial_radius img {
         border-radius: 100%;
         height: 150px;
         width: 150px;
         object-fit: cover;
     }
     .testimonial_text h3 {
         text-align: center;
         /*font-size: 19px;*/
         margin-top: 25px;
         color: #3e93cc;
     }
     .testimonial_text p {
         /*font-size: 16px;*/
         text-align: center;
         margin-top: 6px;
         color: #656e74;
     }
     .testimonial_text {
         margin-left: 100px;
         margin-right: 100px;
         /*line-height: 27px;*/
     }
     .testimonial h1 {
         text-align: center;
         padding: 25px;
     }
     .testimonial_m {
         display: none;
     }
     .testimonial{
        margin-bottom: 10vh;
     }
     .brands_img img {
         height: 130px;
         width: 240px;
         /* margin-left: 80px;*/
         margin-left: 40px;
         margin-right: 40px;
         cursor: pointer;
         
     }
     .brands_img img:hover {
         
     }
     .brands_img {
         margin: auto;
         width: auto;
     }
     .brands h1 {
         text-align: center;
         text-transform: uppercase;
         padding: 25px;
     }
     .brands_m {
         display: none;
     }
     .map iframe {
         width: 100%;
         height: 600px;
         position: relative;
     }
     .contact {
         width: 400px;
         height: 550px;
         background: white;
         position: absolute;
         margin-top: -565px;
         margin-left: 130px;
     }
     .contact .us {
         border: none;
         width: 80%;
         padding: 19px;
         border-bottom: #656e74 1px solid;
         padding-left: 21px;
         margin-left: 35px;
         padding-left: 1px;
         /*font-size: 17px;*/
     }
     .contact h3 {
         text-align: center;
         /*font-size: 24px;*/
         padding: 13px;
         /*color: #3e93cc;*/
     }
     .contact p {
         color: #656e74;
         text-align: center;
         /*font-size: 18px;*/
         /*line-height: 35px;*/
     }
     .contact_submit {
         background: #3e93cc;
         height: 40px;
         border: none;
         width: 130px;
         color: white;
         /*font-size: 14px;*/
         border-radius: 6px;
         margin-left: 34px;
         margin-top: 17px;
         cursor: pointer;
     }
     footer {
         background: #3e93cc;
         /*height: 300px;*/
         width: 100%;
     }
     .footer_text {
         text-align: center;
         padding: 25px;
         color: white;
         /*font-size: 17px;*/
         /*line-height: 32px;*/
     }
     .copy {
         text-align: center;
         /*font-size: 19px;*/
         margin-top: 9px;
     }
     #myBtn {
         display: none;
         position: fixed;
         bottom: 20px;
         right: 30px;
         z-index: 99;
         border: none;
         outline: none;
         color: white;
         background: none;
         cursor: pointer;
         padding: 15px;
         border-radius: 23px;
     }
     button p {
         /*font-size: 40px;*/
         margin-top: -12px;
     }
     /*   .fixed{            display: none;        }*/
 














     .support_img {
         background: url(./img/background_sup.jpg)no-repeat center;
         height: 600px;
         width: 100%;
         background-size: 100%;
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
     [class*="col-"] {
         float: left;
         /*padding: 15px;         */
         /*border: 1px solid red;         */
     }
     .col-1 {
         width: 8.33%;
     }
     .col-2 {
         width: 16.66%;
     }
     .col-3 {
         width: 25%;
     }
     .col-4 {
         width: 33.33%;
     }
     .col-5 {
         width: 41.66%;
     }
     .col-6 {
         width: 50%;
     }
     .col-7 {
         width: 58.33%;
     }
     .col-8 {
         width: 66.66%;
     }
     .col-9 {
         width: 75%;
     }
     .col-10 {
         width: 83.33%;
     }
     .col-11 {
         width: 91.66%;
     }
     .col-12 {
         width: 100%;
     }
     .support {
         width: 100%;
         height: 450px;
     }
     .support_res {
         max-width: 1200px;
         margin: auto;
     }
     .support h3 {
         text-align: center;
         /*font-size: 32px;*/
         margin-top: 50px;
         /*color: #3e93cc;*/
     }
     .support_icon_up {
         margin-left: 100px;
         margin-right: 100px;
         margin-top: 65px;
     }
     .support_icon_up .support_icon {
         height: 120px;
         width: 120px;
         border-radius: 100%;
         border: #3e93cc 1px solid;
         float: left;
         margin-left: 95px;
         margin-top: 15px;
     }
     .support_icon_low .support_icon {
         height: 120px;
         width: 120px;
         border-radius: 100%;
         border: #3e93cc 1px solid;
         float: left;
         margin-left: 95px;
         margin-top: 15px;
     }
     .support_icon_low {
         margin-left: 100px;
         margin-right: 100px;
         margin-top: 65px;
     }
     .support .s_left1 i {
         padding: 30px 44px;
         /*font-size: 50px;*/
         color: #3e93cc;
     }
     .support .s_left2 i {
         padding: 33px 36px;
         /*font-size: 45px;*/
         color: #3e93cc;
     }
     .support .s_left3 i {
         padding: 33px 40px;
         /*font-size: 50px;*/
         color: #3e93cc;
     }
     .support .s_left4 i {
         padding: 34px 37px;
         /*font-size: 44px;*/
         color: #3e93cc;
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
     [class*="col-"] {
         float: left;
         /*padding: 15px;         */
         /*border: 1px solid red;         */
     }
     .col-1 {
         width: 8.33%;
     }
     .col-2 {
         width: 16.66%;
     }
     .col-3 {
         width: 25%;
     }
     .col-4 {
         width: 33.33%;
     }
     .col-5 {
         width: 41.66%;
     }
     .col-6 {
         width: 50%;
     }
     .col-7 {
         width: 58.33%;
     }
     .col-8 {
         width: 66.66%;
     }
     .col-9 {
         width: 75%;
     }
     .col-10 {
         width: 83.33%;
     }
     .col-11 {
         width: 91.66%;
     }
     .col-12 {
         width: 100%;
     }
     .support_icon .fa-map-marker {
         padding: 34px 47px;
         /*font-size: 45px;*/
         color: #3e93cc;
     }
     .support_icon .fa-envelope {
         padding: 35px 39px;
         /*font-size: 45px;*/
         color: #3e93cc;
     }
     .support_icon .fa-fax {
         padding: 34px 39px;
         /*font-size: 45px;*/
         color: #3e93cc;
     }
     .support_icon .fa-phone {
         padding: 37px 43px;
         /*font-size: 45px;*/
         color: #3e93cc;
     }
     .support_radius_text {
         margin-left: 230px;
         color: #656e74;
     }
     .support_radius_text p {
         /*font-size: 17px;*/
     }
     .support_radius_text .all {
         margin-top: 35px;
         /*font-size: 21px;*/
         font-weight: bold;
         color: #3e93cc;
     }
     .support_low {
         width: 100%;
         height: 650px;
         float: left;
         margin-top: 50px;
     }
     .low_icon {
         height: 40px;
         width: 40px;
         border-radius: 100%;
         border: #3e93cc 1px solid;
         float: left;
         margin-left: 15px;
         cursor: pointer;
     }
     .support_low i {
         color: #3e93cc;
         /*font-size: 23px;*/
         padding: 8px 11px;
     }
     .support_input {
         height: 40px;
         width: 400px;
         border: #999 1px solid;
         border-radius: 6px;
         margin-top: 20px;
         padding-left: 15px;
         /*font-size: 17px;*/
     }
     .support_register textarea {
         width: 400px;
         height: 300px;
         border: #999 1px solid;
         border-radius: 6px;
         margin-top: 20px;
     }
     .support_submit {
         border: none;
         height: 40px;
         width: 180px;
         border-radius: 6px;
         background: #3e93cc;
         color: white;
         /*font-size: 18px;*/
         margin-top: 20px;
         cursor: pointer;
     }
     .support_low_icons p {
         /*line-height: 27px;*/
         color: #656e74;
         margin-top: 15px;
         /*font-size: 17px;*/
     }
     .support_low_icons {
         margin-left: 100px;
         margin-top: 150px;
     }
     .support_register {
         margin-left: 120px;
     }
 
}