    .testimonial_mob,.artboard,.product_mob,.prod_nav_mob {
        display: none;
    }




@media (max-width: 991px) {
        *{
            font-size: 4.5vmin;
            margin: 0px;
            padding: 0px;

        }

        .testimonial_mob .swiper-pagination-bullet{
            width: 1vmax !important;
             height: 1vmax !important;
        }
        .product_text_img > img {
            width: 50vmin;
            height: 25vmax;
            margin: auto;
        }



        .product_block {
            border: #3e93cc 1px solid;
            height: 10vmax;
            width: 20vmin;
            float: left;
           margin-left: 1vmax;
            margin-right: 1vmax;
        }

        .testimonial_mob {
            height: min-content;
            display: block;
            
        }
        .prod_nav_mob {
            display: block;
        }
        .prod_nav_web {
            display: none;
        }
        .prod_nav_title {
            font-size: 60px;
            height: 105px;
            padding-top: 20px;
        }
        .pr_nav_b {
            width: 450px;
            height: 185px;
        }
        .pr_nav_b img {
            width: 115px;
        }
        .pr_nav_b div {
            font-size: 35px;
        }
        .head_2 {
            height: max-content !important;
        }
        .product_web {
            display: none;
        }
        .product_mob {
            height:min-content;
            display: block;
        }
        .artboard {
            display: block;
        }
        .testimonial_web, .brands_web {
            display: none;
        }
        .center_search,
        .language,
        .head_contact,
        .center_icons {
            display: none;
        }
        .menu_nav {
            margin-top: -7px !important;
            margin-right: 10px !important;
        }
        .video-banner {
            display: none;
        }
        .video-banner div {
            display: none;
        }
        .video-background {
            display: none;
        }
        .nav_search input {
            display: block !important;
        }
        .nav_contact {
            display: block !important;
        }
        .navbar_ul_6 {
            display: block !important;
        }
       
        .logo_bg img {
            width: 25vh;
            padding: 2vh 0vh 2vh 2vh;
            margin: 0px;
        }
        .head_1 {
            background-color: white;
            width: 100%;
            transition: all 700ms;
            height: max-content;
        }
        .logo_sm img {
            width: 25vh;
            padding: 2vh 0vh 2vh 2vh;
        }
        .menu {
            display: none;
            line-height: 150px;
            float: right;
            
            color: #3e93cc;
            margin-top: -115px;
            font-size: 100px;
            margin-right: 94px;
        }
        .menu_img {
            margin-top: 1.7vh;
            width: 7vh;
        }
        .close_img {
    margin-right: -7vh;
}
        .hamb {
           

            right: 0px;
            width: max-content !important;
             top: 9vh;
            font-size: 4vh;
        }
        .hamb img {
            width: 40px;
        }
        .hamb_active {
                height: 90vh;
        }
        .hamb_submenu_open {
            
            font-size: 4vh;
        }
        .hamb_current {
            display: flex;
            align-items: center;
            height: auto;
            padding: 0;
            margin-top: 1.6vh;
            background: #d8315c;
            color: white;
        }
        .hamb_nav {
            height: auto !important;

            margin-bottom: -2px;
        }
        .hamb_products {
            font-size: 2.9vmax;
            max-width: 55vw;

            background: white;
        
            color: #71afda;
            transition: all 500ms;
            height: auto !important;
        }
        .hamb_submenu_active {
            height: 45vh !important;
        }
        .hamb_2 {
            margin-left: -300px;
            width: 560px !important;
            top: 120px;
            font-size: 60px;
        }
        .hamb_2 img {
            width: 40px;
        }
        .hamb_active_2 {
                height: 90vh;
        }
        .hamb_submenu_open_2 {
            padding: 0px 260px;
            font-size: 130px;
        }
        .hamb_current_2 {
            display: flex;
            align-items: center;
            height: 100px;
            padding: 8px 25px;
            margin-top: 29px;
            background: #d8315c;
            
            color: white;
        }
        .hamb_nav_2 {
            padding: 25px 25px;
            margin-bottom: -2px;
        }
        .hamb_products_2 {
            width: 100%;
            height: 79px;
            margin: 30px 0px 20px 40px;
            background: white;
            padding: 20px 0px 0px 30px;
            color: #71afda;
            transition: all 500ms;
            height: auto !important;
        }
        .hamb_prod img,
        .hamb_nav img,
        .hamb img,
        .hamb_nav a .hamb_prod img,
        .zayeb,
        .hamb_prod_2 img,
        .hamb_nav_2 img,
        .hamb_2 img,
        .hamb_nav_2 a .hamb_prod_2 img,
        .zayeb_2,
        .hamb_nav_2 img {
            width: 4.5vmax !important;
            padding: 0px 13px;
        }
        .hamb_submenu_active_2 {
            height: 45vh !important;
        }



    .hamb_current, .hamb_nav{
        padding:1.5vmin;
    }
        .hamb_current, .hamb_nav, .hamb_submenu, .hamb a{
            font-size: 3.2vmax !important;

        }
        .hamb_nav{
            padding-right: 5vw;
        }









     .a_about-img {
         background: url(./img/old/Untitled-2.png)no-repeat;
         width: 100%;
         height: 38vmax;
         background-size: 100%;
     }
     .a_about_text {
         display: none;
         background: #3e93cc;
         width: 450px;
         height: 682px;
         padding: 65px 0px;

     }
     .a_about_text p {
         color: white;
       
         margin-left: 30px;
         margin-right: 30px;
         padding: 15px 0px;
     }
     .a_about_text .all {
         
         text-transform: uppercase;
     }
     .contact_products {
         display: none;
     }
     .about_text_mobile {
         display: block;
         width: 100%;
         overflow: hidden;
         text-align: center;
         margin-top: 50px;
        
         color: #656e74;
     }
     .about_text_mobile p, .about_block p {
        color: #656e74;
         max-height: 9999px;
         text-align: center;

     }
    .about_text_mobile p:not(.all), .about_block p:not(.all){
        margin-bottom: 15vmin;
    }
     .about_text_mobile .all {
         padding: 15px;
       
         color: #3e93cc;
         text-align: center;
     }
     .about_text1 p {
         width: 100%;
         height: 500px;
         margin-top: 12px;
        
         overflow: hidden;
     }
     .about_img_text {
         margin-left: 30px;
         margin-right: 30px;
     }
     .about_text {
         display: none;
     }
     .about_img img {
         width: 100%;
         height: 600px;
         overflow: hidden;
         background-size: 100%;
         margin-top: 50px;
     }
     .about_block .all {
        
         text-transform: uppercase;
         color: #3e93cc;
         border: none;
         text-align: center;
         padding: 30px;
     }

     .about_blocks .about_block {
         width: 100%;
         float: left;

     }
     .about_blocks {
         margin-left: 15px;
         margin-right: 15px;
     }
 















     .contact_header_img {
         background: url(./img/background_con.jpg)no-repeat center;
         background-size: 100%;
         height: 700px;
         width: 100%;
     }
     .contact_left_text {
         background: white;
         height: 450px;
         width: 100%
     }
     .contact_right_text {
         background: #3e93cc;
         height: 500px;
         width: 100%;
         margin-top: 40px;
     }
     .contact_left_text p {
         text-align: center;
        
         padding: 15px;
         margin-left: 30px;
         margin-right: 30px
     }
     .contact_left_text .all {
         margin-top: 50px;
        
         color: #3e93cc;
     }
     .contact_right_text p {
         text-align: center;
       
         color: white;
         margin-left: 40px;
         margin-right: 40px;
     }
     .contact_right_text .all {
         
         margin-top: 15px;
         padding: 40px;
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
     [class*="col-"] {
         float: left;
     }
     .col-6 {
         width: 100%;
     }
     .contact_us_text_web {
         display: none;
     }
     .contact_register_web {
         display: none;
     }
     .contact_register_mobile .us {
         width: 80%;
         padding: 30px;
         border: #656e74 1px solid;
         background: white;
         padding-left: 21px;
         margin-left: 35px;
         padding-left: 25px;
         color: #656e74;
         margin-top: 25px;
         
     }
     .contact_register_mobile {
         margin-left: 85px;
        
         padding: 21px 45px;
         margin-top: 50px;
     }
     .contact_register_mobile .contact_submit {
         border: none;
         height: 60px;
         width: 250px;
         border-radius: 6px;
         background: #3e93cc;
         color: white;
        
         margin-top: 40px;
         cursor: pointer;
         margin-left: 34px;
     }

     .contact_map i,.contact_phone i,.contact_faks i  {
         color: #3e93cc;
         margin-left: 50%;
         transform: translateX(-50%) translateY(-50%);
         margin-top: 50%;
     }

     .contact_us_text_mobile p {
         text-align: center;
        
         margin-top: 13px;
      
     }
     .contact_us_text_mobile {
         margin-top: 30px;
     }
     .us_mobile_radius {
         height: 150px;
         width: 150px;
         border-radius: 100%;
         border: #3e93cc 1px solid;
         margin-left: 430px;
         margin-top: 50px;
     }
     .contact_us h3 {
         text-align: center;
        
         margin-top: 50px;
      
     }
     .contact_us .ff {
         display: none;
     }
 
















     .product {
         max-height:999999px;
         width: 100%;
         margin-top: 30px;
     }
     .product div{
         /*padding: 10px 50px;*/
     }
     .product h1 {
         text-align: center;
         text-transform: uppercase;
         
     }
     .product h4 {
         text-align: center;
         text-transform: uppercase;
        
         margin-top: 13px;
         color: #3e93cc;
     }
     .product .center_text {
         margin-top: 40px;
         color: #656e74;
        
         padding-left: 40px;
         padding-right: 40px;
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
     [class*="mcol-"] {
         float: left;
     }
     .mcol-3 {
         width: 25%;
     }
     .mcol-4 {
         width: 33.33%;
     }
     .mcol-5 {
         width: 41.66%;
     }
     .product_img_t {
         border: #3e93cc 2px solid;
         width: auto;
         height: auto;
         margin:10vmin;
         padding: 20px;
     }
     .product_text h3 {
         color: #3e93cc;
         text-align: center;

     }
     .product_text p {
         width: 95%;
         text-align: center;
       
         padding: 25px 0px;
       
         color: #656e74;
         margin-left: auto;
         
     }
     .product_text {

     }
     .product_input input {
         border: none;
         background: #3e93cc;
         color: white;
         border-radius: 6px;
         padding: 1.1vmin;
         margin:1vmin;
         cursor: pointer;
     }

     .product_blocks {
         width: max-content;
         overflow: hidden;
         margin: 50px auto;
     }
     .product_k p {
         border: #3e93cc 2px solid;
         height: 34px;
         float: left;
         padding: 4px 40px;
         text-align: center;
        
         margin-left: -2px;
     }
     .blue {
         background: #3e93cc;
         color: white;
     }
     .product_k {
         margin-right: 30px;
         margin-top: 43px;
         float: right;
     }
     .product_table {
         padding: 20px 30px;
         margin-top: 100px;
     }
     .product_table table,
     th,
     td {
         border: 1px solid #999;
         border-collapse: collapse;
         
     }
     .product_table td {
         padding: 27px 0px;
         text-align: center;
         width: 1500px;
       
     }
     .color {
         background: #ececec;
     }
     .all_color {
         background: #8b929a;
         height: 35px;
         color: white;
     }
     .table_blue {
         background: #3e93cc;
         color: white;
     }
     .product_img {
         background: url(./img/background_prod.png) no-repeat center;
         height: 35vmax;
         width: 100%;
         background-size: 100%;
     }
 















     .services {
         height: auto;
         width: 100%;
         background-size: 100%;
         overflow-x: hidden;
     }
     .services h2 {
         text-align: center;
         padding: 35px;
         font-weight: bold;
       
         margin-top: 50px;
     }
    .services_radius {
        float: left;
        margin: 2vh 0px 0px 0px;
        width: 100%
     }

     .services_icon {

         height: 28vh;
         width: 28vh;
         border-radius: 100%;
         border: #3e93cc 3px solid;
         cursor: pointer;
         margin-left: 50%;
         transform: translateX(-50%);

     }


    .services_text {
               
         margin-left: 50%;
         transform: translateX(-50%);
     }
     .services_text p {
         text-align: center;
         color: #656e74;
        max-height: 99999px;
        
     }
     .services_text input {
        margin-top: 2vh;
    margin-bottom: 10vh;
             border: none;
    background: #5092e5;
    color: white;
    border-radius: 2vmin;
 
    padding: 1.5vmin;

    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

     }
     .services_icon img {
         height: 70%;
         margin-left: 50%;
         transform: translateX(-50%) translateY(-50%);
         margin-top: 50% 
    }
     .home_img_m {
         background: url(./img/background_home.jpg) no-repeat center;
         height: 35vmax;
         width: 100%;
         background-size: 100%;
         overflow-x: hidden;
     }


     


     .services_text h3 {
         text-align: center;
             margin: 2vh 0px;
         color: #3e93cc;
     }


     .row::after {
         content: "";
         clear: both;
       
     }
     [class*="col-"] {
       
     }
   
     .gallery_text_web {
         display: none;
     }
     .gallery {
        
     }
     .mob_wid {
     
         text-align: center;

     }
     
     .gallery_img img {
        width: 100vw;
        max-height: 75vh;
         cursor: pointer;
         background-size: 100%;
         overflow: hidden;
         object-fit: cover;
         
     }

     .box_mobile_ , .box_mobile {
         text-align: center;
         background: #5092e5;
         color: white;
         max-height: 99999px;
     }
     .box_mobile_ , .box_mobile , .gallery_text_mobile{
        padding: 5vmin;
     }
     .gallery_text_mobile{
        text-align: center;
        max-height: 99999px;
     }
     .gallery_text_mobile .all {
         color: #3e93cc;
         text-transform: uppercase;
     }
     .gallery_text_mobile p {
         color: #656e74;
     }


     .gallery_img img:hover {
        
     }
     .gallery_img {
        
     }
     
     
     
     
     .box_web {
         display: none;
     }
     .box_web_ {
         display: none;
     }
     .text {
            padding: 12vh 2vh 2vh 2vh;
         background: #3e93cc;
         max-height: 99999px;
        
     }
     .text h1 {
         
         color: white;
     }
     .text p {
         color: white;
      
     }
     .text a {
         
         color: white;
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
     
     .pacgakes {
         
     }
     .pacgakes_block {
         
         width: 80%;
            max-height: 99999px;
             margin: 70px auto 0px auto;
     }
     .pacgakes_block h3 {
         background: #d6315c;
         padding: 20px;
         text-transform: uppercase;
         color: white;
     }
     .pacgakes_block p, .pacgakes_block h3 {
         text-align: center;
     }
     .xh {
        color: #656e74; 
         border: #656e74 1px solid;
         border-top: none;
         height: auto !important;
         padding: 20px !important;
     }
     .pacgakes_m {
         display: none;
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
     [class*="col-"] {
         float: left;
        
     }
     .col-4 {
         width: 100%;
     }

     .testimonial_radius {
         border-radius: 100%;
         height: 45vmin;
         width: 45vmin;
         background: black;
         margin: auto;
         cursor: pointer;
        
     }
     .testimonial_radius img {
         border-radius: 100%;
         height: 100%;
         width: 100%;
         object-fit: cover;
     }
     .testimonial_text h3 {
         text-align: center;
        
         margin-top: 25px;
         color: #3e93cc;
     }
     .testimonial_text p {
    text-align: center;
    max-height: 99999px;
    color: #656e74;
    margin-top: 13px;
     }
     .testimonial_text {
         margin-left: 100px;
         margin-right: 100px;
       
         margin-top: 50px;
     }
     .testimonial h1 {
         text-align: center;
         padding: 25px;
        text-transform: uppercase;
        
     }
     .testimonial{
        margin-bottom: 10vh;
     }
     .brands_img img {
         height: 200px;
         width: 300px;
        
         cursor: pointer;
         
     }

     .brands_img {
       
     
     }

     .brands_m {
         display: none;
     }
     .map {
         display: none;
     }
     footer {
         background: #3e93cc;
         
         width: 100%;

         position: relative;
     }
     .footer_text {
         text-align: center;
         padding: 25px;
         color: white;
         max-height: 99999px;
        
     }
     .copy {
         text-align: center;
       
         margin-top: 6px;
     }
     #myBtn {
         display: none;
     
         bottom: 20px;
         right: 30px;
         z-index: 99;
         border: none;
         outline: none;
         color: white;
         background: none;
         cursor: pointer;
         padding: 15px;
         border-radius: 23px;
     }
     button p {
       
         margin-top: -12px;
     }
 











     
     .support_img {
         background: url(./img/background_sup.jpg)no-repeat center;
         height: 700px;
         width: 100%;
         background-size: 100%;
     }
     .row::after {
         content: "";
         clear: both;
         display: table;
     }
     [class*="col-"] {
         float: left;
        
     }
     .col-6 {
         width: 100%;
     }
     .support h3 {
         text-align: center;
       
         margin-top: 25px;
         color: #3e93cc;
     }
     .support_icon_up {
         margin-left: 150px;
         margin-right: 150px;
         margin-top: 65px;
     }
     .support_icon {
         height: 180px;
         width: 180px;
         border-radius: 100%;
         border: #3e93cc 1px solid;
         margin-left: 50%;
         transform: translateX(-50%);
         margin-top: 50px;
     }
     .support_icon_low {
         margin-left: 150px;
         margin-right: 150px;
         margin-top: 65px;
     }
     .support i {
         color: #3e93cc;
     }
     .support .s_left1 i {
         padding: 50px 65px;
         
     }
     .support .s_left2 i {
         padding: 50px 53px;
        
     }
     .support .s_left3 i {
         padding: 55px 60px;
        
     }
     .support .s_left4 i {
         padding: 52px 56px;
         
     }


     .support_icon .fa-map-marker {
         color: #3993ce;
     }
     .support_icon .fa-envelope {
         color: #3993ce;
     }
     .support_icon .fa-fax {
         color: #3993ce;
     }
     .support_icon .fa-phone {
         color: #3993ce;
     }

    .support_icon .fa{
        margin-left: 50%;
        transform: translateX(-50%) translateY(-50%);
        margin-top: 50%;
    }

     .support_radius_text p {
         text-align: center;
         margin-left: 75px;
         margin-right: 75px;
         margin-top: 21px;
       
     }
     .support_radius_text .all {
         
         font-weight: bold;
         color: #3e93cc;
     }
     .support_radius_text {
         margin-top: 40px;
     }
     .support_low_icons {
         display: none;
     }
     .support_input {
         height: 60px;
         width: 580px;
         border: #999 1px solid;
         border-radius: 6px;
         margin-top: 20px;
         padding-left: 18px;
      
     }
     .support_register textarea {
         width: 580px;
         height: 300px;
         border: #999 1px solid;
         border-radius: 6px;
         margin-top: 20px;
     }
     .support_submit {
         border: none;
         height: 60px;
         width: 250px;
         border-radius: 6px;
         background: #3e93cc;
         color: white;
       
         margin-top: 20px;
         cursor: pointer;
     }
     .support_register {
         margin-left: 240px;
         height: 750px;
         margin-top: 100px;
     }
 

}