*{
     margin: 0px;
     padding: 0px;
     font-family: "RooneySans-Medium", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
}
/*body{
     background-color: brown;
}
*/
 .page{
     width: 100%;
     height: 100%;
}
 header{
     width: 100%;
}
 .head_1{
    overflow: hidden;
     background-color: white;
     width: 100%;
     transition: all 700ms;
     height: 96px;
}
.my_c_div{
    background: red;
    width: 50px;
    height: 50px;
    background: url(./img/sol_bg.png);
    background-size: 100% 100%;

    width: 90%;
    height: 500px;
    margin: auto;
}
.h_content{
    float: left;
    max-width: 1200px;
    background-color: white;
    margin: auto;
    padding: 30px;
}
 .head_2{
        float: left;
     background-color: #3e93cc;
     width: 100%;
}
 .brand {
     padding-right: 20px;
     max-width: 1200px;
     margin: auto;
}
 .logo_bg img{
     width: 210px;
     margin: 20px 10px;
}
 .brand_2 {
     height: 30px;
     padding: 10px 20px 0px 0px;
}
 .logo_sm img {
    /* margin: 20px;
     */
     width: 210px;
     padding: 10px;
}
 .head_contact {
    /* font-size: 2.95vmin;
     */
    /* padding-top: 0.5vh;
     */
     margin-top: -10px;
     width: 200px;
     padding: 10px 20px 10px 20px;
     height: 30px;
    /* padding-left: 1vw;
     */
    /* padding-right: 1vw;
     */
     background-color: #d8315c;
     float: right;
}
 .head_contact img{
     height: 30px;
     margin-right: 10px;
}
 .head_contact span{
     color: white;
     line-height: 30px;
}
 .menu_w{
     color: white !important;
}
 .grayscale {
    -webkit-filter: brightness(250%);
    filter: brightness(1000%);
}
 .off_img{
     transform: rotate(180deg);
     transition: all 700ms;
     opacity: 0;
    /*display: none;
    */
}
 .main_color{
     background-color: #3e93cc !important;
}
 .on_img{
    /*display: block;
    */
     transform: rotate(0deg);
     transition: all 700ms;
     opacity: 1;
}
 .navbar_ul_6{
     display: none;
}
 .menu {
     float: right;
    /* vertical-align: sub;
     */
     color: #3e93cc;
     margin-top: 20px;
     font-size: 30px;
     margin-right: 10px;
}
 .menu_img{
     margin-top: 30px;
     float: right;
     width: 30px;
}
.close_img{
    margin-right: -30px;
    }
 .section_main{
     float: right;
     width: 240px;

}
/*.center_icons i {
     font-size: 3vh !important;
     padding: 1vh 1.2vh !important;
}
*/
 .center_search {
     float: right;
    /* margin-left: 24vw;
     */
}
.searc_i{
        position: relative;
    /* top: -20px; */
    float: right;
    /* right: 0px; */
    /* left: 250px; */
    width: 40px;
    /* background: green; */
    /* margin-left: 13%; */
    margin-left: -40px;
    text-align: center;
    margin-top: 10px;
}
 .center_search input {
    float: left;
     width: 270px;
     height: 30px !important;
     padding: 10px;
     color: #3e93cc;
     height: 5vh;
    /* font-size: 2.5vmin;
     */
     background: white;
     border: none;
    /* margin-top: 1vh;
     */
     border-radius: 7px;
     cursor: pointer;
    /* position: relative;
     */
}
input::-webkit-input-placeholder {
color: #3e93cc !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #3e93cc !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #3e93cc !important;  
}
 
input:-ms-input-placeholder {  
color: #3e93cc !important;  
}
 .language {
     float: right;
    /* margin-left: 5px;
     */
     margin-left: 25px;
     margin-right: 10px;
}
 .language select {
    /* font-size: 2.5vmin;
     */
    /* margin-top: 1vh;
     */
     border: none;
     height: 30px;
     background: #d6315c;
     border-radius: 5px;
     cursor: pointer;
     color: white;
    /* margin-left: 25px;
     */
    /* padding-left: 0.5vw;
     */
}
 .language select option{
     color: white;
    /*font-size: 2.5vmin;
    */
}
 .center_icons {
    /*margin-left: 50vw;
    */
     color: white;
     margin-right: 20px;
     float: right;
}
 .header_icon1, .header_icon2, .header_icon3, .header_icon4 {
     height: 26px;
     width: 26px;
     overflow: hidden;
     border-radius: 100%;
     border: white 2px solid;
     float: left;
     margin-left: 10px;
    /* padding: 1px;
     */
    /* margin-top: 0.5vw;
     */
     overflow: hidden;
     cursor: pointer;
}
 .header_icon1:hover{
     background: #4267b2;
     color: white;
     border:#4267b2 2px solid;
}
 .header_icon2:hover{
     background: #1da1f3;
     color: white;
     border:#1da1f3 2px solid;
}
 .header_icon3:hover{
     background: #0077b5;
     color: white;
     border:#0077b5 2px solid;
}
 .header_icon4:hover{
     background: #dd356c;
     color: white;
     border:#dd356c 2px solid;
}
 .header_icon1 i{
     font-size: 18px;
     padding: 5px 7px;
}
 .header_icon2 i{
     font-size: 18px;
     padding: 5px;
}
 .header_icon3 i{
     font-size: 17px;
     padding: 4px 6px;
}
 .header_icon4 i{
     font-size: 18px;
     padding: 5px 6px;
}
 .clear{
     clear: both;
}
 #myBtn {
     display: none;
     position: fixed;
     bottom: 20px;
     right: 30px;
     z-index: 99;
     border: none;
     outline: none;
     color: white;
     background:none;
     cursor: pointer;
     padding: 15px;
     border-radius: 23px;
}
 button p{
     font-size: 40px;
     margin-top: -12px;
}
 *{
     margin: 0px;
     padding: 0px;
}
 .page{
     width: 100%;
     height: 100%;
}
 header{
     width: 100%;
}
 .head_1{
     background-color: white;
     width: 100%;
}
 .head_2{
     background-color: #3e93cc;
     width: 100%;
}
 .hamb{
     width: 240px;
     height: 0px;
    /*background: url(./img/example.png);
    */
     position: fixed;
     overflow: hidden;
    /*top: -500px;
    */
     transition: all 700ms;
     z-index: 255;
     top: 96px;
}
 .hamb_active{
/*     height: 425px;
     transition: all 700ms;*/
         height: 620px;
    transition: all 700ms;
    /*background-color: green;*/
}
.hamb_submenu {
    overflow-y: auto;
    overflow-x: hidden;
    height: 0px;
    width: 100%;
    background: #f5f9ff;
    transition: all 400ms;

}
.hamb_submenu_active {
    height: 180px !important;
    transition: all 400ms;
}
.hamb_submenu_open{
    
    padding: 0px 25px;
    font-family: monospace;
    font-size: 40px;
    transition: all 400ms;
}
.hamb_submenu_open_active{
    transform: rotate(90deg);
        transition: all 400ms;
}
.hamb_submenu_in{
    /*height: 500px;*/
}
 .hamb_prod{
     display: flex;
     align-items: center;
     color: #71afda;
     width: 150px;
}
.hamb_products{
        width: 100%;
    height: 35px;

    margin: 5px 0px 5px 15px;
    background: white;

    padding: 5px 0px 0px 10px;
    color: #71afda;
    transition: all 500ms
}
.hamb_products:hover{
    cursor: pointer;
    color: white;
    background: #71afda;
    transition: all 500ms
}
 .hamb_prod:hover{
     transition: all 500ms;
     color: white;
     cursor: pointer;
}



 .hamb_current{
     display: flex;
     align-items: center;
     height: 50px;
     padding: 0px 25px;
     background: #d8315c;
    /*width: 100%;
    */
     color: white;
}
 .hamb_current img {
     -webkit-filter: brightness(250%);
     filter: brightness(1000%);
     width: 25px;
     margin-right: 10px;
}
 .hamb_nav{
     display: flex;
     align-items: center;
     height: 50px;
     padding: 5px 25px;
     background: white;
    /*width: 100%;
    */
     color: #71afda;
}
 .hamb_nav:hover{
     background-color: #3e93cc !important;
     transition: all 500ms;
     color: white;
     cursor: pointer;
}
.hamb_nav:hover .hamb_prod{
     transition: all 400ms;
     color: white;
     cursor: pointer;
}
 .hamb_nav:hover img{
     -webkit-filter: brightness(250%);
     filter: brightness(1000%);
}
 .hamb_nav img {
     width: 25px;
     margin-right: 10px;
}

 .hamb_prod_sc{
     background-color: #3e93cc !important;
     transition: all 500ms;
     color: white;
     cursor: pointer;
}
 .hamb_prod_sc img{
     -webkit-filter: brightness(250%);
     filter: brightness(1000%);
}







 .hamb_2{
     width: 240px;
     height: 0px;
    /*background: url(./img/example.png);
    */
     position: fixed;
     overflow: hidden;
    /*top: -500px;
    */
     transition: all 700ms;
     z-index: 255;
     top: 96px;
}
 .hamb_active_2{
/*     height: 425px;
     transition: all 700ms;*/
         height: 620px;
    transition: all 700ms;
    /*background-color: green;*/
}
.hamb_submenu_2 {
    overflow-y: auto;
    overflow-x: hidden;
    height: 0px;
    width: 100%;
    background: #f5f9ff;
    transition: all 400ms;

}
.hamb_submenu_active_2 {
    height: 180px !important;
    transition: all 400ms;
}
.hamb_submenu_open_2{
    
    padding: 0px 25px;
    font-family: monospace;
    font-size: 40px;
    transition: all 400ms;
}
.hamb_submenu_open_active_2{
    transform: rotate(90deg);
        transition: all 400ms;
}
.hamb_submenu_in_2{
    /*height: 500px;*/
}
 .hamb_prod_2{
     display: flex;
     align-items: center;
     color: #71afda;
     width: 150px;
}
.hamb_products_2{
        width: 100%;
    height: 35px;

    margin: 5px 0px 5px 15px;
    background: white;

    padding: 5px 0px 0px 10px;
    color: #71afda;
    transition: all 500ms
}
.hamb_products_2:hover{
    cursor: pointer;
    color: white;
    background: #71afda;
    transition: all 500ms
}
 .hamb_prod_2:hover{
     transition: all 500ms;
     color: white;
     cursor: pointer;
}



 .hamb_current_2{
     display: flex;
     align-items: center;
     height: 50px;
     padding: 0px 25px;
     background: #d8315c;
    /*width: 100%;
    */
     color: white;
}
 .hamb_current_2 img {
     -webkit-filter: brightness(250%);
     filter: brightness(1000%);
     width: 25px;
     margin-right: 10px;
}
 .hamb_nav_2{
     display: flex;
     align-items: center;
     /*height: 50px;*/
     padding: 5px 25px;
     background: white;
    /*width: 100%;
    */
     color: #71afda;
}
 .hamb_nav_2:hover{
     background-color: #3e93cc !important;
     transition: all 500ms;
     color: white;
     cursor: pointer;
}
.hamb_nav_2:hover .hamb_prod_2{
     transition: all 400ms;
     color: white;
     cursor: pointer;
}
 .hamb_nav_2:hover img{
     -webkit-filter: brightness(250%);
     filter: brightness(1000%);
}
 .hamb_nav_2 img {
     width: 25px;
     margin-right: 10px;
}

 .hamb_prod_sc_2{
     background-color: #3e93cc !important;
     transition: all 500ms;
     color: white;
     cursor: pointer;
}
 .hamb_prod_sc_2 img{
     -webkit-filter: brightness(250%);
     filter: brightness(1000%);
}








 .hamb a{
     text-decoration: none;
}
 .hamb_sub{
     background-color: #ececec;
     color: #71afda;
     padding: 20px;
}

 .videoWrapper {
     position: relative;
     padding-bottom: 54.25%;
     padding-top: 25px;
     height: 0;
}
 .videoWrapper iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}


/* ========= HOME VIDEO =========== */
.video-banner{
     width: 100%;
    /* margin-top: 50px;*/
     height: 600px;
}


.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
.video-title{
    display: table-cell; 
    color: white;
    text-align: center;
    vertical-align: middle;
}
.video-button{
    border: none;
    background: #3e93cc;
    color: white;
    border-radius: 6px;
    height: 36px;
    width: 113px;
    font-size: 16px;
    cursor: pointer;
}
.video-h{
    font-size: 40px;
}

.video-title p {
    margin-bottom: 30px;
}


/* ========= HOME VIDEO END =========== */



/*============ Scroll ==========*/
.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow
{
    padding-top: 0px !important;
    margin: 0px !important;
}


#style-1::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    background-color: white;
}

#style-1::-webkit-scrollbar
{
    width: 5px;
    background-color: white;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #71afda;
}

/*============== SWIPER =============*/

    .swiper-container {
      width: 100%;
      /*height: 550px;*/
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
        .swiper-container_1 {
      width: 100%;
      height: 100%;
    }
    .swiper-slide_1 {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper-container_1 {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
    /*height: 400px;*/
}
.swiper-pagination_1 {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.map{
        padding-top: 50px;
}
/*============== SWIPER END =============*/











/*============= PRODUCTS SLIDER ==========*/


    .sol_1div{
        height: 80%;
    }
    .sol_1_11div{
    width: 40%;
    padding: 5%;
    height: 75%;
    float: left;
    }
    .sol_1_12div{
    width: 40%;
    padding: 5%;
    height: 75%;
    float: left;
    }
    .sol_1_12div img{
    position: relative;
    height: 100%;
    width: 100%;
    }
    .sol_2div{
        height: 20%;
    }
    .sol_2_21div{
    margin-top: 1%;
    margin-left: 12%;
    color: #3e93cc;
    font-size: 26px;

    }
    .sol_1_11div_txt{
    width: 55%;
    text-align: center;
    margin: auto;
    font-size: 17px;
    }
    .prod_nav{
    max-width: 1065px;
    height: 250px;
    margin: auto;
    padding: 0px 2.4%;
    }
    .prod_nav_con{
        background: #3e93cc;
        height: 100%;
        width: 100%;
    }
    .prod_nav_title{
    -webkit-box-shadow: 0px 0px 53px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 53px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 53px -8px rgba(0,0,0,0.75);
    position: relative;
    text-align: center;
    max-width: 1130px;
    margin: auto;
    height: 62px;
    background: url(./img/sol_t_bg.png);
    background-size: 100% 100%;
    color: #3e93cc;
    font-size: 30px;
    padding-top: 18px;
}
    

.pr_nav_b {
    width: 200px;
    height: 100px;
    /*margin-top: 50px;*/
    float: left;
    background: white;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
    transition: 500ms;
}
.pr_nav_b:hover{
        transform: scale(1.17);
        transition: 500ms;
        cursor: pointer;
}
    .pr_nav{
        width:  max-content;
        margin: auto;
    }
    .prod_nav_con .swiper-container .swiper-wrapper .swiper-slide{
        background: none;
    }
    .prod_nav_con .swiper-container .swiper-wrapper {
        background: none;
    }
    .prod_nav .swiper-pagination-bullet{
        background: white;
        opacity: 1;
    }
    .prod_nav .swiper-pagination-bullet-active{
        background: #007aff;
        opacity: 1;
    }
  .pr_nav_b img{
        width: 60px;
        margin-top: 5px;
  }
  .pr_nav_b div{
    text-align: center;
    color: #3e93cc;
        font-size: 15px;
    margin-top: 8px;
  }



.product_block img {
    padding: 5%;
    width: 90%;
    cursor: pointer;
    height: 90%;
}