@import url(animate.css);
 @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
 @import url(//fonts.googleapis.com/css?family=Squada+One);
 @import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600,800);
 a[href^="tel:"], a[href^="callto:"] {
     color: inherit;
     text-decoration: none;
}
 strong {
     font-weight: 700;
}
 .fa {
     line-height: inherit;
}
 [class*='fa-']:before {
     font-weight: 400;
     font-family: "FontAwesome";
}
 .page {
     overflow: hidden;
     min-height: 500px;
}
 .lt-ie9 .page {
     min-width: 1200px;
}
 .center {
     text-align: center;
}
/*================== ToTop ======================*/
 .toTop {
     width: 50px;
     height: 50px;
     font-size: 24px;
     line-height: 46px;
     color: #fff;
     background: #3e93cc;
     border-radius: 50%;
     -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
     box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
     position: fixed;
     right: 40px;
     bottom: 70px;
     display: none;
     overflow: hidden;
     text-align: center;
     text-decoration: none;
     z-index: 20;
}
 .toTop:hover {
     color: #fff;
     background: #353535;
     text-decoration: none;
}
 .mobile .toTop, .tablet .toTop {
     display: none !important;
}
 